<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/index.css">
<link rel="stylesheet" type="text/css" href="../css/donuts.css">

<script src="https://use.fontawesome.com/2e6d40bfc1.js"></script>
<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
</head>
<body>
  <div class="section group">
    <div class="col span_2"></div>
    <div class="col span_8">
      <div class="section group">
        <h1 class="h1 purple1" style="text-decoration:none;"><a href="../index.html">Caroline Taymor</a></h1>
        <h2 class="h2 purple1">Donuts</h2>
        <p>Inspired by <a href="http://larahogan.me/donuts/">Lara Hogan</a> and <a href="https://beero.ps/cupcakes/">Katherine Daniels</a>, I have decided to start marking professional accomplishments with donuts (and photographic evidence of said donuts). It's far too easy not to notice how you've grown in your career. I've always marked raises and new jobs with some sort of celebration (usually dinner out), but there are a lot of other accomplishments worth marking which are not as noticable. I hope that by marking them with donuts, I will stop to notice these moments, and appreciate the work and growth I've done.</p>

        <h3 class="h3">A Chronological List of Donuts:</h3>
        <br>
        <ul>
          <li>
            <h4 class="h5">9/18/17: Old-Fashioned</h2>
            <img src="https://storage.googleapis.com/tech-taymor/images/donuts/RubyConf2017Acceptance.jpg" class="donut" alt="a person holding a donut, who is celebrating getting a conference talk accepted for the first time"><br>
            Old-Fashioned donut for getting my first conference talk accepted. I'll be speaking at RubyConf 2017 in New Orleans, giving at talk on "Getting Unstuck: Using the Scientific Method for Debugging".
          </li>
          <li>
            <h4 class="h5">8/25/17: Buttermilk Old-Fashioned and Blueberry-Bourbon</h2>
            <img src="https://storage.googleapis.com/tech-taymor/images/donuts/wsc_donuts_2017_smaller.jpg" class="donut" alt="a person in a dress holding two donuts, who is celebrating giving a lightning talk and submitting my first full length talk proposal"><br>
            Buttermilk Old-Fashioned donut for writing and giving a lightning talk at Write Speak Code 2017. Blueberry-Bourbon for submitting my first full-length talk proposal to RubyConf.
          </li>
        </ul>
      </div>
    </div>
    <div class="col span_2"></div>
    </div>
  </div>
</body>
