section {
    margin: 1.2rem auto .5em;
    overflow: hidden;
}

.moi {
    float: right;
    margin-left: 20px;
}

footer {
    color: #a79e97;
    text-align: center;
}

.cards {

        margin: 0;
        padding: 0;
        list-style: none;

    li {
        width: 375px;
        height: 550px;
        float: left;
        list-style: none;
        margin: 0 14px 14px;
        padding: 10px;
        background: $grey4;
        border: 1px $grey3 solid;
        font-size: 0.9em;
        line-height: 1.2em;
        min-height: 460px;
    }
}

.card-title {
  display: block;
  -webkit-margin-before: .33em;
  -webkit-margin-after: .5em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;    
}

@media (min-width: 900px) {
    section {
        width: 900px;
    }

    section h2:nth-child(1) {
        margin-top: 1.2rem;
    }
}

@media (max-width: 900px) {
    h1, p {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    li {
        float: none;
        margin: 0 auto 15px;
    }
}

@media (max-width: 440px) {
    li {
        width: 95%;
        padding: 2%;
        min-height: 0;
    }

    section img {
        width: 100%;
    }

    .moi {
        display: none;
    }
}