@import 'color';
@import 'font';
@import 'grid';
@import 'donuts';

html {
	background: $main-bg-color;
}

body {
	font-family: 'Noto Serif', serif;
  color: $grey1;
}
.headshot {
	width: '20em';
}
